.App {
  text-align: center;
  
}

.container-main {
  min-height: 100vh;
  padding-top: 136px;
}

#header-name {
  float: left;
  padding-left: 48px;
}

.navbar-items {
  padding: 24px;
  align-items: right!important;
  
}

.nav-item {
  padding: 0px 32px 0px 12px!important;
}

.nav-toggle {
  border: none;
}

#main {
  font-size: 120%;
  padding: 0px 72px 0px 72px;
}

#services h2 {
  padding-bottom: 48px;
}

#services ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 22px;
}

#services li {
  list-style-type: none;
  display: flex; 
  align-items: center; 
  font-size: 100%;
  margin: 16px;
  padding: 12px;
  width: 140px;
  height: 140px;
  border: 3px solid black;
  border-radius: 100%;
  
}

.english-buttons {
   padding-bottom: 32px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.service-btn {
  padding: 12px;
  width: 33%;
  font-size: 116%;
  }

.student-companies {
  width: 100%;
}

.student-companies h4 {
  padding-top: 24px;
}

.icons-student {
  display: flex;
  flex-direction: row;
  padding: 64px;
  justify-content: center;
}

.icons-student p {
  padding: 0px 24px 0px 12px;
}


.profile-round {
  /* background-color: gray; */
  width: 180px;
  height: 180px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}


.img-placeholder {
  background-color: pink;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* display: block; */
  margin: 0 auto;
  
  
}

#cv {
  padding: 0px 32px 0px 32px;
}

.cv-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.close-cv {
  display: none;
  
}

.cv-show {
  display: none;
}

.student-companies {
  background-color: #9ee6c2;
  padding: 24px;
  margin-top: -88px;
}

#dev-section {
  padding-top: 32px;
}

.dev-section-container {
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  margin-left: 68px;
  padding-top: 24px;
}

#dev-section p {
  width: 33%;
  font-size: 120%;
  list-style-type: none;
  line-height: 0.7;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-left: 32px;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dev-modal {
  width: 66%!important;
  padding: 48px!important;
  background-color: burlywood;
  text-align: center;
}

.dev-project-item {
  padding-top: 12px;
}

.dev-img {
  width: 40%;
}

#about {
  display: flex;
  flex-direction: row;
}

.mid-width-left {
  width: 50%;
  /* margin-right: 50%; */
  background-color: #9ee6c2;
  color: #000;
  padding: 136px 48px 24px 48px;

}

.image-half-page {
 max-width: 50%;
 overflow: hidden;
 background-position: center;
 background-color: #7bd4e9;
 
}

.background-map {
  
  z-index: initial;
  
}

.profile-overlay {
  margin-top: -380px;
   z-index: 10;
   border-radius: 100%;
}

#contact-form  {
  text-align: left;
  padding-top: 24px;
  display: block;
  margin-left: 30%;
  
}

#contact-form input, textarea {
  width: 60%;
  height: 40px;
  border: 2px solid black;
  /* border: none;
  border-bottom: 2px solid black; */
}

#submit-btn {
  background-color: blue;
  border: none!important;
  color: white;
}

#submit-btn:hover {
  opacity: 0.5;
}


#blog h2 {
  padding: 28px 48px 28px 48px;
}

.blog-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.blog-square {
  width: 28%;
  height: 200px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 0px 12px 32px 6px;
  padding: 10px;
  text-align: center;
}

.blog-img {
  max-width: 80%;
  height: 140px;
  background-color: gray;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {


  .nav-main {
    padding: 32px;
  }

  .nav-item {
    padding: 12px 12px 6px 12px!important;
  }

  .mid-width, .mid-width-left {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .dev-section-container {
    margin-left: 18px;
    padding-top: 24px;
  }
 
  #dev-section p {
    width: 78%;
    font-size: 130%;
    padding-top: 22px;
  }

  .dev-modal {
    width: 80%!important;
    
  }

  #services li {
    width: 220px;
  height: 220px;
  }

  .english-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
 }

 .service-btn {
  margin-top: 24px;
  width: 64%;
 }

  .student-companies {
    margin-top: 20px;
  }

  .icons-student {
    display: flex;
    flex-wrap: wrap;
    padding: 36px;
    justify-content: center;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  .image-half-page {
    min-width: 100vw;
  }

  #contact-form  {
    margin-left: 20%;
   
  }

  #contact-form input, textarea {
    width: 80%;
  }

  .blog-square {
    width: 60%;
    height: 250px;
  }
  
}

#footer {
  background-color: greenyellow;
  padding: 24px;
  margin-top: 32px;
}

 .social-icons li {
  list-style: none;
  display: inline-block;
  padding: 48px;
}

@media only screen and (min-width: 800px) {
  .cv-wide {
    display: flex;
    flex-direction: row;
    margin: 0 auto; 
    margin-left: -24px;
    justify-content: center;   
    
  }
  .cv-individual {
   
    padding: 24px;
    
  }

  .cv-wrapper-ed {
    display: flex;
    flex-direction: row;
    margin: 0 auto; 
    align-items: center;
  }
  
}


