.App {
  text-align: center;
  
}

/* html, body {
  overflow-x: hidden;
  height: 100%;
} */

.container {
  min-height: 100vh;
  padding-top: 96px;
}

#header-name {
  float: left;
  padding-left: 48px;
}

/* #navbar-sticky {
  position: fixed;
} */

.navbar {
  padding: 26px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  
}

.navbar li {
  list-style-type: none; 
  padding: 36px;
  cursor: pointer;
}

#main {
  font-size: 120%;
  padding: 0px 72px 0px 72px;
}


#services ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services li {
  list-style-type: none;
  display: flex; 
  align-items: center; 
  font-size: 100%;
  margin: 16px;
  padding: 12px;
  width: 120px;
  height: 120px;
  border: 3px solid black;
  border-radius: 100%;
  
}

.student-companies {
  width: 100%;
}


.profile-round {
  background-color: gray;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


.dev-modal {
  width: 50%!important;
  padding: 32px!important;
}


.mid-width-left {
  width: 50%;
  margin-right: 50%;
  background-color: gray;
  padding-top: 32px;
}

.img-placeholder {
  background-color: pink;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* display: block; */
  margin: 0 auto;
  
  
}

#cv {
  padding: 0px 32px 0px 32px;
}

.cv-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.close-cv {
  display: none;
  
}

.cv-show {
  display: none;
}

.student-companies {
  background-color: pink;
  padding: 24px;
  margin-top: -88px;
}

#dev-section {
  padding-top: 32px;
}

.dev-section-container {
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  margin-left: 68px;
  padding-top: 24px;
}

#dev-section p {
  width: 33%;
  font-size: 120%;
  list-style-type: none;
  line-height: 0.7;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-left: 32px;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dev-project-item {
  padding-top: 12px;
}

.dev-img {
  width: 90%;
}

#blog h2 {
  padding: 28px 48px 28px 48px;
}

.blog-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.blog-square {
  width: 28%;
  height: 200px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 0px 12px 32px 6px;
  padding: 10px;
  text-align: center;
}

.blog-img {
  max-width: 80%;
  height: 140px;
  background-color: gray;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {

  .mid-width, .mid-width-left {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .dev-section-container {
    margin-left: 18px;
    padding-top: 24px;
  }
 
  #dev-section p {
    width: 78%;
    font-size: 130%;
    padding-top: 22px;
  }

  .dev-modal {
    width: 80%!important;
    
  }



  .blog-square {
    width: 60%;
    height: 250px;
  }
  
}

#footer {
  background-color: greenyellow;
  padding: 24px;
}

 .social-icons li {
  list-style: none;
  display: inline-block;
  padding: 48px;
}

@media only screen and (min-width: 800px) {
  .cv-wide {
    display: flex;
    flex-direction: row;
    margin: 0 auto; 
    margin-left: -24px;
    justify-content: center;   
    
  }
  .cv-individual {
   
    padding: 24px;
    
  }

  .cv-wrapper-ed {
    display: flex;
    flex-direction: row;
    margin: 0 auto; 
    align-items: center;
  }
  
}


/* TEST */


.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #FC466B;
  opacity: 0;
  position: fixed;
  height: 80px!important;
  /* overflow: hidden; */
  /* z-index: 10; */
  margin-bottom: 48px;
}

#sidebarMenu {
  /* height: 100%; */
  position: fixed;
  left: 0;
  width: 350px;
  /* margin-top: 80px; */
  transform: translateX(-350px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

@media only screen and (max-width: 500px) {
  #sidebarMenu {
    width: 100%;
    max-width: 100%;
    transform: translateX(-100vw);
  }
}